body {
    background-image: url(pagina\ inicial@2x.png);
    background-size: cover;
    padding: 0rem;
    border: 0rem;
    margin: 0rem;
    display: flex; /* Adiciona Flexbox ao body */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Garante que o body tenha a altura da tela */
}

.o1,.o2,.o3{
    size: 3rem;
}
a {
  pointer-events: all;
}

.menu{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    height: 150px;
    top: 0;
    right: 0;
    padding: 20px;
}
.tempo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 45%;
    padding: 20px;
}
.usuario{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 20px;
}