body {
    background-size: cover;
    background-image: url(imagem/Fundo.png);
    padding: 0;
    border: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.menu{
  display: flexbox;
  flex-direction: row;

}

.cont{
  background-color: transparent;
  border: none;
  padding: 0;
}


.voltar{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  height: 65px;
  top: 0;
  left: 5%;
  right: 150%;
  padding: 20px;

  background-color: transparent;
  border: none;
}
