body {
    background-size: cover;
    background-image: url(imagem/Fundo.png);
    padding: 0;
    border: 0;
    margin: 0;
    display: flex; /* Adiciona Flexbox ao body */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Garante que o body tenha a altura da tela */
}

.menu{
  display: flexbox;
  flex-direction: row;

}

.cont{
  background-color: transparent;
  border: none; /* Remove a borda padrão do botão */
  padding: 0;
}


.voltar{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  height: 65px;
  top: 0;
  left: 5%;
  right: 150%;
  padding: 20px;

  background-color: transparent;
  border: none;
}