body {
    background-size: cover;
    background-color: #B9CFFF;
    padding: 0rem;
    border: 0rem;
    margin: 0rem;
    display: flex; /* Adiciona Flexbox ao body */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Garante que o body tenha a altura da tela */
}
.fundo{
    height: 100vh;
    width: 100vw;
    size: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(2px);
}

.menu{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    height: 70px;
    top: 0;
    right: 0;
    padding: 20px;
}
.tempo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    height: 50px;
    top: 0;
    right: 45%;
    padding: 20px;
}
.usuario{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    height: 65px;
    top: 0;
    left: 0;
    padding: 20px;
}