body {
    background-size: cover;
    background-image: url(imagem/Fundo.png);
    padding: 0rem;
    border: 0rem;
    margin: 0rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.menu{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    height: 70px;
    top: 0;
    right: 0;
    padding: 20px;
}
.tempo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    height: 50px;
    top: 0;
    right: 45%;
    padding: 20px;
}
.usuario{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    height: 65px;
    top: 0;
    left: 0;
    padding: 20px;
}
