body {
    background-size: cover;
    background-color: #B9CFFF;
    padding: 0;
    border: 0;
    margin: 0;
    display: flex; /* Adiciona Flexbox ao body */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Garante que o body tenha a altura da tela */
}
.fundo{
    height: 100vh;
    width: 100vw;
    size: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}